.th-post{
    margin: 3rem;
    margin-top: 3rem;
}

.th-post img{
    width: 45rem;
    margin-bottom: 2rem;
}

.also-read{
    margin-top: 4rem;
}

@media (max-width:900px) {
    .navbar{
        width: 100vw!important;
    }
    .th-post{
        width: 95%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .po-main{
        display: flex;
        flex-direction: column;
    }
    .also-read{
        width: 100%!important;
        margin-right: 0px!important;
        padding-right: 0px!important;
    }

    .th-post p{
        margin-right: 1rem;
    }
}

@media (max-width:365px) {
    .th-post img {
        width: 20rem;
    }
}