.navbar{
    width: 100%;
    margin: 0;
}

footer{
    padding-left: 22px;
    padding-right: 22px;
}

.nm-credits{
    display: flex;
    flex-direction: column;
}

.about{
    margin: 6rem;
    margin-top: 1rem;
}

.about h3{
    margin-bottom: 1rem;
    text-align: center;
}

.co-form{
    margin: 8rem;
    margin-top: 4rem;
}

.po-main{
    display: flex;
}

.co-form h3{
    margin-bottom: 1rem;
    text-align: center;
}

@media (max-width:990px) {
    .bd-main{
        margin-top: 2rem;
        /* background-color: red; */
    }
}

@media (max-width:500px) {
    .about{
        /* background-color: red; */
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width:600px) {
    .co-form{
        /* background-color: red; */
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}